.editPasswordForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  inline-size: 80%;
  max-inline-size: 31.8rem;
  min-inline-size: 17rem;
  margin: 2rem auto 0;
}

.editPasswordTitle {
  font-size: 1.2rem;
}

.errorMessage {
  font-size: var(--small-font-size);
  color: var(--critical-color);
  font-weight: 300;
}

.successMessage {
  font-size: var(--small-font-size);
  color: var(--accent-color);
  font-weight: 300;
}
